


.vfrc-launcher {
    display: none !important;
}

.vfrc-widget {
    z-index: 10000000 !important;
}

@media (min-width: 768px) {
    .vfrc-widget {
        z-index: 10000000 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .vfrc-message {
        max-width: 300px !important;
    }
    
    .c-ivtLaR-gAaWLG-withChat-true {
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .c-ivtLaR {
        pointer-events: all !important;
    }
    
    .c-ivtLaR-ftPdvq-withChat-false {
        display: none !important;
    }
    
    .vfrc-widget--chat {
        position: relative !important;
        height: 80% !important;
        width: 80% !important;
        max-width: 600px !important;
        bottom: auto !important;
        left: auto !important;
    }
}
